@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #ffa500, #f5fc45);
}
.container {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #ffa500, #f5fc45);
}
.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ffa500;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #ffa500;
}
form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}
form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}
form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
form .button {
  height: 45px;
  margin: 35px 0;
}
form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #ffa500, #f5fc45);
}
form .button input:hover {
  background: linear-gradient(-135deg, #ffa500, #f5fc45);
}

#toggle {
  position: absolute;
  margin-top: 10px;
  margin-left: -25px;
  color: #808080;
  cursor: pointer;
}

.strength {
  width: 25%;
  display: inline-block;
  position: relative;
  height: 100%;
  bottom: 5px;
}
#strength-bar {
  background-color: #dcdcdc;
  height: 10px;
  position: relative;
}

.sign-in {
  margin-left: 28%;
}

.sign-in a {
  margin-left: 10px;
  text-decoration: none;
  color: #ffa500;
}
.sign-in a:hover {
  border-bottom: 2px solid #ffa500;
}

.sign-in a:active {
  color: #ffa500;
}

.back-home {
  padding-top: 20px;
  padding-left: 62%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.back-home a {
  display: block;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  padding: 10px;
  letter-spacing: 2px;
  transition: all 0.25s;
}

.back-home a:hover {
  letter-spacing: 15px;
  color: #ffa500;
  border-top: 2px solid #ffa500;
  border-bottom: 2px solid #ffa500;
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
  #toggle {
    display: none;
  }
  .back-home {
    position: absolute;
    left: 250px;
  }
}
@media (max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
  #toggle {
    display: none;
  }
}
